In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sn
#convert genders to integers
genders = {"male": 1, "female": 0}
#read dataset
df = pd.read_csv('titanic.csv') 
#drop passenger id and name
df= df.drop(['PassengerId', 'Name'], axis=1)
#map sex column to integers
df['Sex'] = df['Sex'].map(genders)
#display df name
print(df.head())
sn.heatmap(df.corr(), annot=True)
plt.show()
for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

numeric_df = df.select_dtypes(include=[np.number])

## find correlation between survival and age
df['Survived'].corr(df['Age'])
#=> -0.07722109457217768
#=> -7.72%
## find correlation between sex and survival
df['Sex'].str.get_dummies().corrwith(df['Survived']/df['Survived'].max())
#=> female    0.543351
#=> male     -0.543351
#=> -54.3%

   Survived  Pclass  Sex   Age  SibSp  Parch            Ticket     Fare Cabin  \
0         0       3    1  22.0      1      0         A/5 21171   7.2500   NaN
1         1       1    0  38.0      1      0          PC 17599  71.2833   C85
2         1       3    0  26.0      0      0  STON/O2. 3101282   7.9250   NaN
3         1       1    0  35.0      1      0            113803  53.1000  C123
4         0       3    1  35.0      0      0            373450   8.0500   NaN

  Embarked
0        S
1        C
2        S
3        S
4        S

ValueError: could not convert string to float: 'A/5 21171'